<center><h2>Pacients</h2></center>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        loadData();
        $('#alertSuccess').hide();
        $('#alertDanger').hide();
        $('#spinner').hide();
    });

    function loadData() {
        $.ajax({
            url: '/Pacient/GetPacients',
            type: "GET",
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                var html = '';
                $.each(response, function(key, item) {
                    html += '<tr>'
                    html += '<td>' + item.pacientName + '</td>';
                    html += '<td>' + item.email + '</td>';
                    html += '<td>' + item.phoneNumber + '</td>';
                    var dobDate = new Date(item.dob);
                    var formattedDate = dobDate.toLocaleDateString();
                    html += '<td>' + formattedDate + '</td>';
                    html += '<td><a href="#" onclick="return getPacientById(' + item.pacientID + ')">Edit</a> |<a href="#" onClick="Delete(' + item.pacientID + ')">Delete</a></td>';
                    html += '</tr>'
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function RegisterPacient() {
        $('#alertSuccess').hide();
        $('#alertDanger').hide();

        $('#spinner').show();
        var pacientObj = {
            PacientName: $('#pacientname').val(),
            Email: $('#email').val(),
            PhoneNumber: $('#phonenumber').val(),
            DOB: $('#dateob').val(),
        };

        $.ajax({
            url: '/Pacient/RegisterPacient',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(pacientObj),
            success: function (response) {
                if (response == 'success') {
                    loadData();
                    $('#spinner').hide();
                    $('#alertSuccess').show();
                    $('#alertSuccess').text('Pacient has been successfully registered');
                }
                else {
                    $('#spinner').hide();
                    $('#alertDanger').show();
                    $('#alertDanger').text('some error occured, try again!');
                }
            },
            error: function (errormessage) {
                $('#spinner').hide();
                $('#alertDanger').show();
                $('#alertDanger').text(errormessage.responseText);
            }
        });
    }

    function Update() {
        $('#alertSuccess').hide();
        $('#alertDanger').hide();
        $('#spinner').hide();

        var pacObj = {
            PacientID: $('#pacid').val(),
            PacientName: $('#pacientname').val(),
            Email: $('#email').val(),
            PhoneNumber: $('#phonenumber').val(),
            DOB: $('#dateob').val()
        }
        console.log(pacObj);
        console.log("Value-->" + $('#pacid').val()); //no imprime ningun valor 

        $.ajax({
            url: "/Pacient/UpdatePacient/",
            data: JSON.stringify(pacObj),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                if (response == 'success') {
                    loadData();
                    $('#myModal').modal('hide');
                    $('.modal-backdrop').remove();
                }
                else {
                    $('#errorMessage').text('Name, email, phone number and date of birth are required!');
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    }


    function Delete(pacientIdToDelete) {
        $('#myModalDelete').modal('show');
        $('.modal-backdrop').show();
        $('#btnDelete').data('pacientid', pacientIdToDelete);
    }
   

    function getPacientById(pacid) {
        $('#alertSuccess').hide();
        $('#alertDanger').hide();
        $('#spinner').hide();

        $.ajax({
            url: "/Pacient/GetPacientById/" + pacid, //Pass the parameter directly when is GET
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $('#pacid').val(response.pacientID);
                $('#pacientname').val(response.pacientName);
                $('#email').val(response.email);
                $('#phonenumber').val(response.phoneNumber);

                var dateOfBirth = new Date(response.dob); // Convert the string to a Date object
                var formattedDate = dateOfBirth.toISOString().split('T')[0];// Format the date to display only the date (without the time)
                $('#dateob').val(formattedDate);

                $('#myModal').modal('show');
                $('#btnUpdate').show();

                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    }

    function DeletePacient() {
        var pacId = $('#btnDelete').data('pacientid');
        $.ajax({
            url: "/Pacient/DeletePacient/",
            data: JSON.stringify(pacId),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response == 'success') {
                    $('#myModalDelete').modal('hide');
                    $('.modal-backdrop').remove();
                    loadData();
                }
                else {
                    $('#spinner').hide();
                    $('#alertDanger').show();
                    $('#alertDanger').text('some error occured, try again!');
                }
            },
            error: function (errormessage) {
                if (errormessage.status == 401)
                    alert('You are not authorized!');
            }
        });
    }

    function CloseDeleteModal() {
        $('#myModalDelete').modal('hide');
        $('.modal-backdrop').remove();
    }

    function clearTextBoxes() {
        $('#pacientname').val("");
        $('#email').val("");
        $('#phonenumber').val("");
        $('#dateob').val("");
      
        $('#btnUpdate').hide();
        $('#alertSuccess').hide();
        $('#alertDanger').hide()
        $('#btnAdd').show();
    }
</script>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBoxes();">Add New Pacient</button>
@*<p style="color:red" id="errorMessage"></p>*@

<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td><center>Full Name</center></td>
            <td><center>Email</center></td>
            <td><center>Phone Number</center></td>
            <td><center>Date of Birth</center></td>
            <td><center>Action</center></td>
        </tr>
    </thead>
    <tbody class="tbody">
        @*Pacients records will be populated here*@
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4>Pacient</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    
                    <input type="hidden" id="pacid" />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="pacientname" placeholder="Pacient Name" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phonenumber" placeholder="Phone Number" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date" class="form-control" id="dateob" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btnAdd" onclick="RegisterPacient();">Register</button>
                                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="return Update();">Update</button>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="alert alert-success" id="alertSuccess"></div>
                            <div class="alert alert-danger" id="alertDanger"></div>

                        </div>
                    </div>
                </form>

                <center>
                    <div class="spinner-border" role="status" id="spinner">
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Delete Pacient</h4>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <p>Are you sure want to delete this Pacient?</p>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-primary" id="btnDelete" onClick="DeletePacient()">Delete</button>
                                <button type="button" class="btn btn-outline-secondary" id="btnCloseModalDelete" onclick="return CloseDeleteModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <p style="color:red" id="errorMessage"></p>
                </form>
            </div>
        </div>
    </div>
</div>
